## .NET / C#
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
*.csproj.user
*.dbmdl
*.jfm

## JetBrains Rider
.idea/
*.sln.iml

## VS Code
.vscode/

## OS files
.DS_Store
Thumbs.db

## Publish output
publish/
